body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0px;
    gap: 100px;
}


/*ÁREA DA BARRA INICIAL*/
#barra_inicial{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid darkred;
    background-color: lightgray;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 1200px;
    height: 100%;
    font-size: 18px;
    font-family: sans-serif;
}

#img_logo{
    width: 40px;
    height: 40px;
}

/*ÁREA DO BANNER*/
#banner{
    display: flex;
    flex-direction: row;
    background-color: darkred;
    border-radius: 30px;
    width: 1200px;
    height: 500px;
}

#texto_banner{
    display: flex;
    align-items: center;
    background-color: darkred;
    color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 600px;
    height: 100%;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 30px;
}

.imagem_banner{
    background-color: darkred;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 600px;
    height: 100%;
}

/*ÁREA DO MODAL (POPUP)*/
.dialog{
    width: 1200px;
    height: 320px;
    border: 5px solid darkred;
    border-radius: 30px;
    font-size: 22px;
    font-family: sans-serif;
    overflow: auto;
    z-index: 10;
}

.botao_fecharDialog{
    border: 4px solid darkred;
    margin-left: 95%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-weight: bolder;
}

.paragrafo_dialog{
    margin-top: -20px;
}

.botao_audioDialog{
    margin-left: 48%;
    background-color: lightgray;
    border-radius: 30px;
    border: none;
    width: 80px;
    height: 80px;
}

.img_audioDialog{
    border-radius: 30px;
    width: 50px;
    height: 50px;
}

.icon_pausa {
    display: none;
    border-radius: 30px;
    width: 50px;
    height: 50px;
}


.botao_fecharDialog:hover{
    background-color: darkgray;
}

.botao_audioDialog:hover{
    background-color: darkgray;
}

/*ÁREA "REQUISITOS"*/
#conteinner_requisitos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;
    height: 200px;
    background-color: lightgray;
    padding-inline: 25px;
    margin-top: 100px;
    margin-bottom: 80px;
    list-style: none;
    border-radius: 30px;
}

.requisito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: lightgray;
    margin-top: -80px;
    width: 250px;
    height: 350px;
    border: 5px solid darkred;
    border-radius: 30px;
    cursor: pointer;
    gap: 20px;
}

.img_requisito{
    
    border-radius: 10%;
    width: 250px;
    height: 250px
}

.gif_clique{
    border: 3px solid darkred;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/*ÁREA "IMPEDIMENTOS TEMPORÁRIOS"*/
#conteinner_informacoes{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    height: 100%;
    gap: 100px;
    margin-bottom: 1300px;
}

.title_secao{
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
    background-color: darkred;
    color: white;
    border-radius: 30px;
    width: 500px;
    margin-bottom: -30px;
}

.informacao{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 450px;
    border-radius: 30px;
}

.area_texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkred;
    color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 600px;
    height: 100%;
    font-size: 25px;
    font-family: sans-serif;
}

.botao_audio{
    background-color: lightgray;
    border-radius: 30px;
    border: none;
    margin-bottom: 20px;
    margin-left: 300px;
    width: 80px;
    height: 80px;
}

.img_audio{
    width: 50px;
    height: 50px;
}

.botao_audio:hover{
    background-color: darkgrey;
}

.texto{
    margin-top: -20px;
    overflow: auto;
}

.area_img{
    display: flex;
    background-color: lightgrey;
    justify-content: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 600px;
}

.img_informacao{
    width: 420px;
    height: 100%;
}

/*ÁREA "IMPEDIMENTOS DEFINITIVOS"*/
#conteinner_impedimentos{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    height: 100%;
    gap: 100px;
    margin-bottom: 210px;
}

.impedimento{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 450px;
    border-radius: 30px;
    background-color: lightgray;
}

.areaTexto_impedimento{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkred;
    color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 600px;
    height: 100%;
    font-size: 25px;
    font-family: sans-serif;
}

.areaImg_impedimento{
    display: flex;
    background-color: lightgrey;
    justify-content: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 600px;
}

.img_impedimento{
    width: 420px;
    height: 100%;
}

/*ÁREA "INTERVALO DE DOAÇÕES"*/
#conteinner_intervalo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 100%;
    gap: 100px;
}

#intervalo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 450px;
}

#intervalo_homens{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkred;
    color: white;
    width: 600px;
    height: 100%;
    font-size: 25px;
    font-family: sans-serif;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#intervalo_mulheres{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    width: 600px;
    height: 100%;
    font-size: 25px;
    font-family: sans-serif;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#img_homens{
    width: 220px;
    height: 220px;
}

#img_mulheres{
    width: 220px;
    height: 220px;
}

/*ÁREA DO RODAPÉ "SOBRE"*/
#conteinner_rodape{
    width: 1200px;
    border-top: 4px solid darkred;
    background-color: lightgray;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#rodape_sobre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-family: sans-serif;
    list-style: none;
    padding-inline: 15px;
}

.link{
    text-decoration: none;
    color: inherit;
}

/*Telas de Smartphones*/
/*Verificar se cada seção estar muito separada*/
@media (min-width: 320px) and (max-width: 340px) {
    body{
        gap: 0
    }
    
    #barra_inicial{
        width: 100%;
        margin-bottom: 50px;
    }

    /*ÁREA DO BANNER*/

    #banner{
        width: 100%;
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }

    #texto_banner{
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        font-size: 15px;
        padding: 0;
    }

    .imagem_banner{
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px
    }

    /*ÁREA DO MODAL (POPUP)*/
    .dialog{
        width: 100%;
        padding: 0;
    }

    .botao_fecharDialog{
        margin-top: 5px;
        margin-left: 80%;
    }

    .botao_audioDialog{
        margin-left: 70%;
    }

    /*ÁREA REQUISITOS*/
    #conteinner_requisitos{
        width: 100%;
        flex-direction: column;
        gap: 150px;
        margin-bottom: 1000px;
        padding: 0;
        background-color: transparent;
    }

    /*ÁREA "IMPEDIMENTOS TEMPORÁRIOS*/
    #conteinner_informacoes{
        width: 100%;
        gap: 400px;
        margin-bottom: 3080px;
    }

    .title_secao{
        width: 100%;
    }

    .informacao{
        width: 100%;
        flex-direction: column-reverse;
    }

    .area_texto{
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
    }

    .botao_audio{
        margin-left: 70%;
    }

    .area_img{
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
    }

    .img_informacao{
        width: 100%;
        border-radius: 0;
    }

    /*ÁREA "IMPEDIMENTOS DEFINITIVOS"*/
    #conteinner_impedimentos{
        width: 100%;
        gap: 380px;
        margin-bottom: 1380px;
    }

    .impedimento{
        flex-direction: column-reverse;
        width: 100%;
    }

    #impedimento1{
        margin-top: 50px;
    }

    .areaTexto_impedimento{
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .areaImg_impedimento{
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .img_impedimento{
        width: 100%;
    }

    /*ÁREA "INTERVALO DE DOAÇÕES"*/
    #conteinner_intervalo{
        width: 100%;
        margin-bottom: 650px;
    }

    #intervalo{
        width: 100%;
        flex-direction: column;
    }

    #intervalo_homens{
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    #intervalo_mulheres{
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    /*ÁREA DO RODAPÉ "SOBRE"*/
    #conteinner_rodape{
        width: 100%;
        
    }

    #rodape_sobre{
        gap: 50px;
        flex-direction: column;
        text-align: center;
        font-size: 25px;
    }
}

/*Verificar se cada seção estar muito separada*/
@media (min-width: 341px) and (max-width: 360px) {
    body{
        gap: 0
    }
    
    #barra_inicial{
        width: 100%;
        margin-bottom: 100px;
    }

    /*ÁREA DO BANNER*/

    #banner{
        width: 100%;
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }

    #texto_banner{
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        font-size: 18px;
        padding: 0;
    }

    .imagem_banner{
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px
    }

    /*ÁREA DO MODAL (POPUP)*/
    .dialog{
        width: 100%;
        padding: 0;
    }

    .botao_fecharDialog{
        margin-top: 5px;
        margin-left: 80%;
    }

    .botao_audioDialog{
        margin-left: 70%;
    }

    /*ÁREA REQUISITOS*/
    #conteinner_requisitos{
        width: 100%;
        flex-direction: column;
        gap: 150px;
        margin-bottom: 950px;
        padding: 0;
        background-color: transparent;
    }

    /*ÁREA "IMPEDIMENTOS TEMPORÁRIOS*/
    #conteinner_informacoes{
        width: 100%;
        gap: 450px;
        margin-bottom: 3280px;
    }

    .title_secao{
        width: 100%;
    }

    .informacao{
        width: 100%;
        flex-direction: column-reverse;
    }

    .area_texto{
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
    }

    .botao_audio{
        margin-left: 70%;
    }

    .area_img{
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
    }

    .img_informacao{
        width: 100%;
        border-radius: 0;
    }

    /*ÁREA "IMPEDIMENTOS DEFINITIVOS"*/
    #conteinner_impedimentos{
        width: 100%;
        gap: 420px;
        margin-bottom: 1480px;
    }

    .impedimento{
        flex-direction: column-reverse;
        width: 100%;
    }

    #impedimento1{
        margin-top: 50px;
    }

    .areaTexto_impedimento{
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .areaImg_impedimento{
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .img_impedimento{
        width: 100%;
    }

    /*ÁREA "INTERVALO DE DOAÇÕES"*/
    #conteinner_intervalo{
        width: 100%;
        margin-bottom: 650px;
    }

    #intervalo{
        width: 100%;
        flex-direction: column;
    }

    #intervalo_homens{
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    #intervalo_mulheres{
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    /*ÁREA DO RODAPÉ "SOBRE"*/
    #conteinner_rodape{
        width: 100%;
        
    }

    #rodape_sobre{
        gap: 50px;
        flex-direction: column;
        text-align: center;
        font-size: 25px;
    }
}

/*Verificar se cada seção estar muito separada*/
@media (min-width: 361px) and (max-width: 380px) {
    body{
        gap: 0
    }
    
    #barra_inicial{
        width: 100%;
        margin-bottom: 100px;
    }

    /*ÁREA DO BANNER*/

    #banner{
        width: 100%;
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }

    #texto_banner{
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        font-size: 18px;
        padding: 0;
    }

    .imagem_banner{
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px
    }

    /*ÁREA DO MODAL (POPUP)*/
    .dialog{
        width: 100%;
        padding: 0;
    }

    .botao_fecharDialog{
        margin-top: 5px;
        margin-left: 80%;
    }

    .botao_audioDialog{
        margin-left: 70%;
    }

    /*ÁREA REQUISITOS*/
    #conteinner_requisitos{
        width: 100%;
        flex-direction: column;
        gap: 150px;
        margin-bottom: 1000px;
        padding: 0;
        background-color: transparent;
    }

    /*ÁREA "IMPEDIMENTOS TEMPORÁRIOS*/
    #conteinner_informacoes{
        width: 100%;
        gap: 450px;
        margin-bottom: 3300px;
    }

    .title_secao{
        width: 100%;
    }

    .informacao{
        width: 100%;
        flex-direction: column-reverse;
    }

    .area_texto{
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
    }

    .botao_audio{
        margin-left: 70%;
    }

    .area_img{
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
    }

    .img_informacao{
        width: 100%;
        border-radius: 0;
    }

    /*ÁREA "IMPEDIMENTOS DEFINITIVOS"*/
    #conteinner_impedimentos{
        width: 100%;
        gap: 420px;
        margin-bottom: 1480px;
    }

    .impedimento{
        flex-direction: column-reverse;
        width: 100%;
    }

    #impedimento1{
        margin-top: 50px;
    }

    .areaTexto_impedimento{
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .areaImg_impedimento{
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .img_impedimento{
        width: 100%;
    }

    /*ÁREA "INTERVALO DE DOAÇÕES"*/
    #conteinner_intervalo{
        width: 100%;
        margin-bottom: 650px;
    }

    #intervalo{
        width: 100%;
        flex-direction: column;
    }

    #intervalo_homens{
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    #intervalo_mulheres{
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    /*ÁREA DO RODAPÉ "SOBRE"*/
    #conteinner_rodape{
        width: 100%;
        
    }

    #rodape_sobre{
        gap: 50px;
        flex-direction: column;
        text-align: center;
        font-size: 25px;
    }
}

/*Verificar se cada seção estar muito separada*/
@media (min-width: 381px) and (max-width: 400px) {
    body{
        gap: 0
    }
    
    #barra_inicial{
        width: 100%;
        margin-bottom: 120px;
    }

    /*ÁREA DO BANNER*/

    #banner{
        width: 100%;
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }

    #texto_banner{
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        font-size: 18px;
        padding: 0;
    }

    .imagem_banner{
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px
    }

    /*ÁREA DO MODAL (POPUP)*/
    .dialog{
        width: 100%;
        padding: 0;
    }

    .botao_fecharDialog{
        margin-top: 5px;
        margin-left: 80%;
    }

    .botao_audioDialog{
        margin-left: 70%;
    }

    /*ÁREA REQUISITOS*/
    #conteinner_requisitos{
        width: 100%;
        flex-direction: column;
        gap: 150px;
        margin-bottom: 1000px;
        padding: 0;
        background-color: transparent;
    }

    /*ÁREA "IMPEDIMENTOS TEMPORÁRIOS*/
    #conteinner_informacoes{
        width: 100%;
        gap: 450px;
        margin-bottom: 3300px;
    }

    .title_secao{
        width: 100%;
    }

    .informacao{
        width: 100%;
        flex-direction: column-reverse;
    }

    .area_texto{
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
    }

    .botao_audio{
        margin-left: 70%;
    }

    .area_img{
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
    }

    .img_informacao{
        width: 100%;
        border-radius: 0;
    }

    /*ÁREA "IMPEDIMENTOS DEFINITIVOS"*/
    #conteinner_impedimentos{
        width: 100%;
        gap: 380px;
        margin-bottom: 1400px;
    }

    .impedimento{
        flex-direction: column-reverse;
        width: 100%;
    }

    #impedimento1{
        margin-top: 120px;
    }

    .areaTexto_impedimento{
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .areaImg_impedimento{
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .img_impedimento{
        width: 100%;
    }

    /*ÁREA "INTERVALO DE DOAÇÕES"*/
    #conteinner_intervalo{
        width: 100%;
        margin-bottom: 650px;
    }

    #intervalo{
        width: 100%;
        flex-direction: column;
    }

    #intervalo_homens{
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    #intervalo_mulheres{
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    /*ÁREA DO RODAPÉ "SOBRE"*/
    #conteinner_rodape{
        width: 100%;
        
    }

    #rodape_sobre{
        gap: 50px;
        flex-direction: column;
        text-align: center;
        font-size: 25px;
    }
}

/*Verificar se cada seção estar muito separada*/
@media (min-width: 401px) and (max-width: 450px){
    body{
        gap: 0
    }
    
    #barra_inicial{
        width: 100%;
        margin-bottom: 180px;
    }

    /*ÁREA DO BANNER*/

    #banner{
        width: 100%;
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }

    #texto_banner{
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        font-size: 18px;
        padding: 0;
    }

    .imagem_banner{
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px
    }

    /*ÁREA DO MODAL (POPUP)*/
    .dialog{
        width: 100%;
        padding: 0;
    }

    .botao_fecharDialog{
        margin-top: 5px;
        margin-left: 80%;
    }

    .botao_audioDialog{
        margin-left: 70%;
    }

    /*ÁREA REQUISITOS*/
    #conteinner_requisitos{
        width: 100%;
        flex-direction: column;
        gap: 150px;
        margin-bottom: 1000px;
        padding: 0;
        background-color: transparent;
    }

    /*ÁREA "IMPEDIMENTOS TEMPORÁRIOS*/
    #conteinner_informacoes{
        width: 100%;
        gap: 520px;
        margin-bottom: 3580px;
    }

    .title_secao{
        width: 100%;
    }

    .informacao{
        width: 100%;
        flex-direction: column-reverse;
    }

    .area_texto{
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
    }

    .botao_audio{
        margin-left: 70%;
    }

    .area_img{
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
    }

    .img_informacao{
        width: 100%;
        border-radius: 0;
    }

    /*ÁREA "IMPEDIMENTOS DEFINITIVOS"*/
    #conteinner_impedimentos{
        width: 100%;
        gap: 420px;
        margin-bottom: 1550px;
    }

    .impedimento{
        flex-direction: column-reverse;
        width: 100%;
    }

    #impedimento1{
        margin-top: 100px;
    }

    .areaTexto_impedimento{
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .areaImg_impedimento{
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .img_impedimento{
        width: 100%;
    }

    /*ÁREA "INTERVALO DE DOAÇÕES"*/
    #conteinner_intervalo{
        width: 100%;
        margin-bottom: 650px;
    }

    #intervalo{
        width: 100%;
        flex-direction: column;
    }

    #intervalo_homens{
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    #intervalo_mulheres{
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    /*ÁREA DO RODAPÉ "SOBRE"*/
    #conteinner_rodape{
        width: 100%;
        
    }

    #rodape_sobre{
        gap: 50px;
        flex-direction: column;
        text-align: center;
        font-size: 25px;
    }
}

/*Monitores Desktop e Laptops*/
@media (min-width: 1200px) and (max-width: 1290px) {
    #conteinner_informacoes{
        margin-bottom: 1400px;
    }

    /*ÁREA "IMPEDIMENTOS DEFINITIVOS"*/
    #conteinner_impedimentos{
        margin-bottom: 350px;
    }
}

/*Monitores Desktop e Laptops*/
@media (min-width: 1300px) and (max-width: 1380px) {
    #conteinner_informacoes{
        margin-bottom: 1590px;
    }

    /*ÁREA "IMPEDIMENTOS DEFINITIVOS"*/
    #conteinner_impedimentos{
        margin-bottom: 550px;
    }
}
