body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0px;
    gap: 100px;
}


/*ÁREA DA BARRA INICIAL*/
#barra_inicial{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid darkred;
    background-color: lightgray;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 1200px;
    height: 100%;
    font-size: 18px;
    font-family: sans-serif;
}

#img_logo{
    width: 60px;
    height: 50px;
}

/*ÁREA DO BANNER*/
#banner{
    display: flex;
    flex-direction: row;
    background-color: darkred;
    border-radius: 30px;
    width: 1200px;
    height: 500px;
}

#texto_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 600px;
    height: 100%;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imagem_banner{
    background-color: darkred;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 600px;
    height: 100%;
}

/*ÁREA DO MODAL (POPUP)*/
.dialog{
    width: 1200px;
    height: 320px;
    border: 5px solid darkred;
    border-radius: 30px;
    font-size: 22px;
    font-family: sans-serif;
    overflow: auto;
    z-index: 10;
}

.botao_fecharDialog{
    border: 4px solid darkred;
    margin-left: 95%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-weight: bolder;
}

.paragrafo_dialog{
    margin-top: -20px;
}

.botao_audioDialog{
    margin-left: 48%;
    background-color: lightgray;
    border-radius: 30px;
    border: none;
    width: 80px;
    height: 80px;
}

.img_audioDialog{
    border-radius: 30px;
    width: 50px;
    height: 50px;
}

.icon_pausa {
    display: none;
    border-radius: 30px;
    width: 50px;
    height: 50px;
}


.botao_fecharDialog:hover{
    background-color: darkgray;
}

.botao_audioDialog:hover{
    background-color: darkgray;
}

/*ÁREA "REQUISITOS"*/
#conteinner_requisitos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;
    height: 200px;
    background-color: lightgray;
    padding-inline: 25px;
    margin-top: 100px;
    margin-bottom: 80px;
    list-style: none;
    border-radius: 30px;
}

.requisito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: lightgray;
    margin-top: -80px;
    width: 250px;
    height: 350px;
    border: 5px solid darkred;
    border-radius: 30px;
    cursor: pointer;
    gap: 20px;
}

.img_requisito{
    
    border-radius: 10%;
    width: 250px;
    height: 250px
}

.gif_clique{
    border: 3px solid darkred;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/*ÁREA "IMPEDIMENTOS TEMPORÁRIOS"*/
#conteinner_informacoes{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    height: 100%;
    gap: 100px;
    margin-bottom: 1300px;
}

.title_secao{
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
    background-color: darkred;
    color: white;
    border-radius: 30px;
    width: 500px;
    margin-bottom: -30px;
}

.informacao{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 450px;
    border-radius: 30px;
}

.area_texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkred;
    color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 600px;
    height: 100%;
    font-size: 25px;
    font-family: sans-serif;
}

.botao_audio{
    background-color: lightgray;
    border-radius: 30px;
    border: none;
    margin-bottom: 20px;
    margin-left: 300px;
    width: 80px;
    height: 80px;
}

.img_audio{
    width: 50px;
    height: 50px;
}

.botao_audio:hover{
    background-color: darkgrey;
}

.texto{
    margin-top: -20px;
    overflow: auto;
}

.area_img{
    display: flex;
    background-color: lightgrey;
    justify-content: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 600px;
}

.img_informacao{
    width: 420px;
    height: 100%;
}

/*ÁREA "IMPEDIMENTOS DEFINITIVOS"*/
#conteinner_impedimentos{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    height: 100%;
    gap: 100px;
    margin-bottom: 210px;
}

.impedimento{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 450px;
    border-radius: 30px;
    background-color: lightgray;
}

.areaTexto_impedimento{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkred;
    color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 600px;
    height: 100%;
    font-size: 25px;
    font-family: sans-serif;
}

.areaImg_impedimento{
    display: flex;
    background-color: lightgrey;
    justify-content: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 600px;
}

.img_impedimento{
    width: 420px;
    height: 100%;
}

/*ÁREA "INTERVALO DE DOAÇÕES"*/
#conteinner_intervalo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 100%;
    gap: 100px;
}

#intervalo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 450px;
}

#intervalo_homens{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkred;
    color: white;
    width: 600px;
    height: 100%;
    font-size: 25px;
    font-family: sans-serif;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#intervalo_mulheres{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    width: 600px;
    height: 100%;
    font-size: 25px;
    font-family: sans-serif;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#img_homens{
    width: 220px;
    height: 220px;
}

#img_mulheres{
    width: 220px;
    height: 220px;
}

/*ÁREA DO RODAPÉ "SOBRE"*/
#conteinner_rodape{
    width: 1200px;
    border-top: 4px solid darkred;
    background-color: lightgray;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#rodape_sobre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-family: sans-serif;
    list-style: none;
    padding-inline: 15px;
}

/*TELA SMARTPHONE*/
@media (max-width:350px){
    body{
        gap: 100px;
    }

 /*ÁREA DA BARRA INICIAL*/
    #barra_inicial{
        width: 100%;
        margin-bottom: -40px;
    }   

/*ÁREA DO BANNER*/
    #banner{
        flex-direction: column-reverse;
        width: 100%;
    }

    #texto_banner{
        font-size: 15px;
        text-align: center;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
    }

    .imagem_banner{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
    }

/*ÁREA DO MODAL (POPUP)*/
    .dialog{
        width: 250px;
        height: 300px;
        overflow: auto;
        margin-top: -80px;
    }

    .botao_fecharDialog{
        margin-left: 90%;
    }

    .paragrafo_dialog{
        margin-top: -20px;
    }

    .botao_audioDialog{
        margin-left: 38%;
    }

 /*ÁREA DOS REQUISITOS*/   
    #conteinner_requisitos{
        background-color: transparent;
        flex-direction: column;
        width: 100%;
        gap: 150px;
        margin-bottom: 900px;
        padding: 0;
    }
    
/*ÁREA "IMPEDIMENTOS TEMPORÁRIOS"*/
    #conteinner_informacoes{
        width: 100%;
        gap: 200px;
        margin-bottom: 3050px;
    }

    .title_secao{
        width: 100%;
        margin-bottom: 150px;
    }

    .informacao{
        flex-direction: column-reverse;
        height: 600px;
    }

    #informacao2{
        margin-bottom: 100px;
    }

    #informacao3{
        margin-bottom: 180px;
    }

    .area_texto{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
        font-size: 22px;
        margin-bottom: 180px;
    }

    .botao_audio{
        margin-left: 200px;
    }

    .area_img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        width: 100%;
    }

    .img_informacao{
        width: 100%;
    }

/*ÁREA "IMPEDIMENTOS DEFINITIVOS"*/
    #conteinner_impedimentos{
        width: 100%;
        gap: 280px;
        margin-bottom: 1180px;
    }

    .impedimento{
        flex-direction: column-reverse;
        width: 100%;
    }

    .areaTexto_impedimento{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
    }

    .areaImg_impedimento{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        width: 100%;
    }    

    .img_impedimento{
        width: 100%
    }

/*ÁREA "INTERVALO DE DOAÇÕES"*/
    #conteinner_intervalo{
        width: 100%;
        margin-bottom: 520px;
        /*Se o conteinner intervalo estiver colado no rodapé ajuste nesse ID e apague o margin-top do rodapé*/
    }

    #intervalo{
        flex-direction: column;
        gap: 120px;
    }

    #intervalo_homens{
        margin-top: -200px;
        margin-bottom: -120px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    #intervalo_mulheres{
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

/*ÁREA DO RODAPÉ "SOBRE"*/
    #conteinner_rodape{
        width: 100%;
    }
    
    #rodape_sobre{
        text-align: center;
        flex-direction: column;
        gap: 40px;
        font-size: 22px;
    }
}

/*TELA SMARTPHONE*/
@media (min-width:351px) and (max-width:375px) {
    body{
        gap: 100px;
    }

 /*ÁREA DA BARRA INICIAL*/
 #barra_inicial{
    width: 100%;
    margin-bottom: 50px;
}   

/*ÁREA DO BANNER*/
    #banner{
        flex-direction: column-reverse;
        width: 100%;
    }

    #texto_banner{
        font-size: 18px;
        text-align: center;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
    }

    .imagem_banner{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
    }

/*ÁREA DO MODAL (POPUP)*/
    .dialog{
        width: 300px;
        height: 300px;
        overflow: auto;
        margin-top: -80px;
    }

    .botao_fecharDialog{
        margin-left: 90%;
    }

    .paragrafo_dialog{
        margin-top: -20px;
    }

    .botao_audioDialog{
        margin-left: 38%;
    }

/*ÁREA DOS REQUISITOS*/   
    #conteinner_requisitos{
        background-color: transparent;
        flex-direction: column;
        width: 100%;
        gap: 150px;
        margin-bottom: 900px;
        padding: 0;
    }

/*ÁREA "IMPEDIMENTOS TEMPORÁRIOS"*/
    #conteinner_informacoes{
        width: 100%;
        gap: 220px;
        margin-bottom: 3150px;
    }

    .title_secao{
        width: 100%;
        margin-bottom: 220px;
    }

    .informacao{
        flex-direction: column-reverse;
        height: 600px;
    }

    #informacao1{
        margin-bottom: 80px;
    }

    #informacao2{
        margin-bottom: 180px;
    }

    #informacao3{
        margin-bottom: 210px;
    }

    .area_texto{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
        font-size: 25px;
        margin-bottom: 180px;
    }

    .botao_audio{
        margin-left: 200px;
    }

    .area_img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        width: 100%;
    }

    .img_informacao{
        width: 100%;
    }

/*ÁREA "IMPEDIMENTOS DEFINITIVOS"*/
    #conteinner_impedimentos{
        width: 100%;
        gap: 220px;
        margin-bottom: 1000px;
    }

    .impedimento{
        flex-direction: column-reverse;
        width: 100%;
    }

    #impedimento1{
        margin-bottom: 100px;
    }

    .areaTexto_impedimento{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
    }

    .areaImg_impedimento{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        width: 100%;
    }    

    .img_impedimento{
        width: 100%
    }

/*ÁREA "INTERVALO DE DOAÇÕES"*/
    #conteinner_intervalo{
        width: 100%;
        margin-bottom: 350px;
    }

    #intervalo{
        flex-direction: column;
        gap: 120px;
    }

    #intervalo_homens{
        margin-top: -220px;
        margin-bottom: -120px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    #intervalo_mulheres{
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

/*ÁREA DO RODAPÉ "SOBRE"*/
    #conteinner_rodape{
        width: 100%;
    }
    
    #rodape_sobre{
        text-align: center;
        flex-direction: column;
        gap: 40px;
        font-size: 25px;
    }
}

/*TELA SMARTPHONE*/
@media (min-width:380px) and (max-width:400px){
    body{
        gap: 100px;
    }

 /*ÁREA DA BARRA INICIAL*/
    #barra_inicial{
        width: 100%;
        margin-bottom: 50px;
}   

/*ÁREA DO BANNER*/
    #banner{
        flex-direction: column-reverse;
        width: 100%;
    }

    #texto_banner{
        font-size: 18px;
        text-align: center;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
    }

    .imagem_banner{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
    }

/*ÁREA DOS REQUISITOS*/   
    #conteinner_requisitos{
        background-color: transparent;
        flex-direction: column;
        width: 100%;
        gap: 150px;
        margin-bottom: 900px;
        padding: 0;
    }

/*ÁREA DO MODAL (POPUP)*/
    .dialog{
        width: 320px;
        height: 300px;
        overflow: auto;
        margin-top: -80px;
    }

    .botao_fecharDialog{
        margin-left: 90%;
    }

    .paragrafo_dialog{
        margin-top: -20px;
    }

    .botao_audioDialog{
        margin-left: 38%;
    }

/*ÁREA "IMPEDIMENTOS TEMPORÁRIOS"*/
    #conteinner_informacoes{
        width: 100%;
        gap: 300px;
        margin-bottom: 3450px;
    }

    .title_secao{
        width: 100%;
        margin-bottom: 220px;
    }

    .informacao{
        flex-direction: column-reverse;
        height: 600px;
    }

    #informacao1{
        margin-bottom: 80px;
    }

    #informacao2{
        margin-bottom: 200px;
    }

    #informacao3{
        margin-bottom: 200px;
    }

    .area_texto{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
        font-size: 28px;
        margin-bottom: 180px;
    }

    .botao_audio{
        margin-left: 200px;
    }

    .area_img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        width: 100%;
    }

    .img_informacao{
        width: 100%;
    }

/*ÁREA "IMPEDIMENTOS TEMPORÁRIOS"*/
    #conteinner_impedimentos{
        width: 100%;
        gap: 220px;
        margin-bottom: 1000px;
    }

    .impedimento{
        flex-direction: column-reverse;
        width: 100%;
    }

    #impedimento1{
        margin-bottom: 100px;
    }

    .areaTexto_impedimento{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
    }

    .areaImg_impedimento{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        width: 100%;
    }    

    .img_impedimento{
        width: 100%
    }

/*ÁREA "INTERVALO DE DOAÇÕES"*/
    #conteinner_intervalo{
        width: 100%;
        margin-bottom: 400px;
    }

    #intervalo{
        flex-direction: column;
        gap: 120px;
    }

    #intervalo_homens{
        margin-top: -220px;
        margin-bottom: -120px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 27px;
    }
    
    #intervalo_mulheres{
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-size: 27px;
    }

/*ÁREA DO RODAPÉ "SOBRE"*/
    #conteinner_rodape{
        width: 100%;
    }
    
    #rodape_sobre{
        text-align: center;
        flex-direction: column;
        gap: 40px;
        font-size: 28px;
    }
}


/*TELA SMARTPHONE*/
@media (min-width:401px) and (max-width:500px){
    body{
        gap: 100px;
    }

 /*ÁREA DA BARRA INICIAL*/
    #barra_inicial{
        width: 100%;
        margin-bottom: 60px;
    }

/*ÁREA DO BANNER*/
    #banner{
        flex-direction: column-reverse;
        width: 100%;
    }

    #texto_banner{
        font-size: 18px;
        text-align: center;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
    }

    .imagem_banner{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
    }

/*ÁREA DOS REQUISITOS*/   
    #conteinner_requisitos{
        background-color: transparent;
        flex-direction: column;
        width: 100%;
        gap: 150px;
        margin-bottom: 900px;
        padding: 0;
    }

/*ÁREA DO MODAL (POPUP)*/
    .dialog{
        width: 350px;
        height: 300px;
        overflow: auto;
        margin-top: -80px;
    }

    .botao_fecharDialog{
        margin-left: 90%;
    }

    .paragrafo_dialog{
        margin-top: -20px;
    }

    .botao_audioDialog{
        margin-left: 38%;
    }

/*ÁREA "IMPEDIMENTOS TEMPORÁRIOS"*/
    #conteinner_informacoes{
        width: 100%;
        gap: 410px;
        margin-bottom: 3580px;
    }

    .title_secao{
        width: 100%;
        margin-bottom: 200px;
    }

    .informacao{
        flex-direction: column-reverse;
        height: 600px;
    }

    .area_texto{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
        font-size: 28px;
        margin-bottom: 220px;
    }

    .botao_audio{
        margin-left: 200px;
    }

    .area_img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        width: 100%;
    }

    .img_informacao{
        width: 100%;
    }

    #informacao2{
        margin-bottom: 120px;
    }

    #informacao3{
        margin-bottom: 150px;
    }

/*ÁREA "IMPEDIMENTOS DEFINITIVOS"*/
    #conteinner_impedimentos{
        width: 100%;
        gap: 320px;
        margin-bottom: 1020px;
    }

    .impedimento{
        flex-direction: column-reverse;
        width: 100%;
    }

    .areaTexto_impedimento{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
    }

    .areaImg_impedimento{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        width: 100%;
    }    

    .img_impedimento{
        width: 100%;
    }

/*ÁREA "INTERVALO DE DOAÇÕES"*/
    #conteinner_intervalo{
        width: 100%;
        margin-bottom: 300px;
    }

    #intervalo{
        flex-direction: column;
        gap: 120px;
    }

    #intervalo_homens{
        margin-top: -220px;
        margin-bottom: -120px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 27px;
    }
    
    #intervalo_mulheres{
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-size: 27px;
    }

/*ÁREA DO RODAPÉ "SOBRE"*/
    #conteinner_rodape{
        width: 100%;

    }
    
    #rodape_sobre{
        text-align: center;
        flex-direction: column;
        gap: 40px;
        font-size: 28px;
    }
}

/*TELA TABLET*/
@media (min-width: 700px) and (max-width:900px){
 /*ÁREA DA BARRA INICIAL*/
    #barra_inicial{
        width: 100%;
    }   

/*ÁREA DO BANNER*/
    #banner{
        width: 100%;
    }

    #texto_banner{
        font-size: 18px;
    }

    .imagem_banner{
        width: 450px;
        height: 500px;
    }

/*ÁREA DOS REQUISITOS*/   
    #conteinner_requisitos{
        background-color: transparent;
        width: 100%;
        padding-inline: 0;
        gap: 20px;
    }

/*ÁREA DO MODAL (POPUP)*/
    .dialog{
        width: 100%;
        height: 300px;
        overflow: auto;
        margin-top: -80px;
    }

    .botao_fecharDialog{
        margin-left: 90%;
    }

    .paragrafo_dialog{
        margin-top: -20px;
    }

    .botao_audioDialog{
        margin-left: 38%;
    }

/*ÁREA "IMPEDIMENTOS TEMPORÁRIOS"*/
    #conteinner_informacoes{
        width: 100%;
        margin-bottom: 1300px
    }

    .title_secao{
        width: 100%;
    }


    .area_texto{
        font-size: 23px;
        font-size: 30px;
    }

    .botao_audio{
        margin-left: 220px;
    }

    .area_img{
        width: 600px;
    }

    .img_informacao{
        width: 100%;
    }

/*ÁREA "IMPEDIMENTOS DEFINITIVOS"*/
    #conteinner_impedimentos{
        width: 100%;
        gap: 100px;
        margin-bottom: 500px;
    }

    .impedimento{
        width: 100%;
    }

    .areaTexto_impedimento{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
        font-size: 30px;
    }

    .areaImg_impedimento{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        width: 100%;
    }    

    .img_impedimento{
        width: 100%;
    }

/*ÁREA "INTERVALO DE DOAÇÕES"*/
    #conteinner_intervalo{
        margin-top: -380px;
        width: 100%;
    }

    #intervalo_homens{
        width: 100%;
        font-size: 30px;
    }
    
    #intervalo_mulheres{
        width: 100%;
        font-size: 30px;
    }

/*ÁREA DO RODAPÉ "SOBRE"*/
    #conteinner_rodape{
        width: 100%;
    }
    
    #rodape_sobre{
        font-size: 20px;
    } 
}